<!doctype html>
<html>
  <head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
	<meta name="Description" content="ROSEdu este o organizație bazată pe o comunitate de oameni pasionați de programare și software liber, în mediul educațional." />
	<title>ROSEdu - Romanian Open Source Education</title>
	<link rel="shortcut icon" href="{{site.basepath}}resources/images/favicon.png" />
	<link rel="stylesheet" type="text/css" href="{{site.basepath}}resources/style.css" />
	<link rel="stylesheet" type="text/css" href="{{site.basepath}}resources/style-people.css" />
	<script type="text/javascript" src="{{site.basepath}}resources/js/jquery-1.4.2.min.js"></script>
	<script type="text/javascript" src="{{site.basepath}}resources/js/cufon-yui.js"></script>
	<script type="text/javascript" src="{{site.basepath}}resources/js/Cambria_400.font.js"></script>
	<script type="text/javascript">
	  Cufon.replace('h1, h2, h3');
	  Cufon.replace('#header-menu', {hover:true});
	</script>
	{% if page.extra_head %}
	<link rel="stylesheet" type="text/css" href="{{site.basepath}}resources/js/slidedeck-1.1.7-lite/slidedeck.skin.css" />
	<!--[if IE]>
	 <link rel="stylesheet" type="text/css" href="{{site.basepath}}resources/js/slidedeck-1.1.7-lite/slidedeck.skin.ie.css" />
	<![endif]-->
	<style type="text/css">
	#slidedeck-frame {
		height:300px;
		margin:0 0 20px 0;
		width:910px;
	}
	</style>
	<script type="text/javascript" src="{{site.basepath}}resources/js/slidedeck-1.1.7-lite/slidedeck.jquery.lite.pack.js"></script>
	{% endif %}
  </head>
  <body>
	<div id="wrapper">
	  <div id="header">
		<a href="{{site.basepath}}ro" id="logo-header"></a>

		<div id="header-right">
		<div id="header-menu">
      <div>
      {% if user.is_authenticated %}
      <a href="{{site.basepath}}profile/{{user.id}}">/home/{{user}}</a>
      {% endif %}
      </div>
		  meniu[] = { <a href="{{site.basepath}}">people</a>,
          <a href="{{site.basepath}}project">projects</a>,
          {% if user.is_authenticated %}
          <a href="{{site.basepath}}logout">logout</a>
          {% else %}
          <a href="{{site.basepath}}login">login</a>,
          <a href="{{site.basepath}}profile_create">create_account</a>
          {% endif %}
          };
		</div><!-- #header-menu -->

		<div class="clear">
		  <!-- -->
		</div><!-- .clear -->
		</div>
	  </div><!-- #header -->

      {% block content %}
      {% endblock %}

	  <div class="separator clear">
		<!-- -->
	  </div><!-- .separator .clear -->

	  <div id="footer">
		<a href="#" id="logo-footer"></a>

		<div id="footer-menu">
		  Copyright &copy; 2007 - 2013 <a href="http://rosedu.org">ROSEdu</a>
		  <br />
          <a href="http://rosedu.org/ro/aboutus">Despre</a> |
          <a href="http://rosedu.org/ro/contact">Contact</a>
		</div><!-- #footer-menu -->

		<div class="clear">
		  <!-- -->
		</div><!-- .clear -->
	  </div><!-- #footer -->
	</div><!-- #wrapper -->

	<script type="text/javascript">
	  Cufon.now();
	</script>
  </body>
</html>
