.person {
    display: block;
    float: left;
    width:80px;
    height:80px;
}

.person.blank {
	width:76px;
	height:76px;
	margin:2px;
}

.person-red {
	background-color: DarkSlateGray;
}

.person-green {
	background-color: FireBrick;
}

.person-blue {
	background-color: CadetBlue;
}

.avatar-container img {
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    width:-webkit-calc(100% - 4px);
    border:2px solid transparent;
    width:76px;
    heigth:78px;
}

.person:not(.search-hidden) img:hover {
    -webkit-transform:scale(1.5);
    -moz-transform:scale(1.5);
    -o-transform:scale(1.5);
    -ms-transform:scale(1.5);
    transform:scale(1.5);
    border:2px solid #fff;
    box-shadow:0 0 5px #888, 0 0 1px #888;
}

.person:not(.search-hidden):hover .name {
    -webkit-animation: showName .3s;
    -webkit-animation-fill-mode: forwards;
    -moz-animation: showName .3s;
    -moz-animation-fill-mode: forwards;
    -ms-animation: showName .3s;
    -ms-animation-fill-mode: forwards;
    animation: showName .3s;
    animation-fill-mode: forwards;
}

@-webkit-keyframes showName {
    50% {
        opacity:0;
    }
    75% {
        opacity:1;
    }
    100% {
        opacity:1;
    }
}

.avatar {
    padding: 10px;
}

.align-left {
    float: left;
}

.icon {
    display: inline-block;
    width: 30px;
    height: 30px;
}

.icon-facebook {
    background:url('/resources/images/button-facebook.png') top left no-repeat;
    background-size:30px 30px;
}

.icon-googleplus {
    background:url('/resources/images/button-gplus.png') top left no-repeat;
    background-size:30px 30px;
}
.clear {
    clear: both;
}
@-moz-keyframes showName {
    50% {
        opacity:0;
    }
    75% {
        opacity:1;
    }
    100% {
        opacity:1;
    }
}

@-ms-keyframes showName {
    50% {
        opacity:0;
    }
    75% {
        opacity:1;
    }
    100% {
        opacity:1;
    }
}

@keyframes showName {
    50% {
        opacity:0;
    }
    75% {
        opacity:1;
    }
    100% {
        opacity:1;
    }
}

.name-container {
    position:relative;
}

.name {
    position:absolute;
    left:-20px;
    top:16px;
    opacity:0;
    background: #fff;
    width:120px;
    font-size:16px;
    text-align:center;
    border-radius:0 0 5px 5px;
    padding-bottom:3px;
}

    .name:hover {
        display:none;
    }

.people-search {
    margin:1em 0;
    width:100%;
    text-align:center;
}

.people-search li {
    list-style:none;
    display:inline-block;
    width:-webkit-calc(3.5% - 1em);
    padding:.5em;
    margin:.12em;
    background:rgba(255,2555,255,.5);
    cursor: pointer;
    -webkit-user-select:none;
    -moz-user-select:none;
    -o-user-select:none;
    -ms-user-select:none;
    user-select:none;
    border:1px solid transparent;
    border-bottom:2px solid #bbb;
}

.people-search li.btn-active {
    background:#fff;
    font-weight: bold;
    border-bottom:0;
    box-shadow:inset 0 0 5px #aaa;
    border:1px solid #ccc;
}

.people-search li:hover {
    background:#fff;
}

div.right-sidebar ul li {
    margin: 4px;
}
div.right-sidebar ul li a {
    font-weight: normal;
}

.search-highlight img {
    border:2px solid #fff;
}

.search-hidden {
    position: relative;
    opacity:.4;
    z-index: -1;
}

ul.activity {
    padding:0;
    margin:0;
    list-style:none;
    border-bottom:1px solid #ccc;
}

ul.activity li {
    margin:1em 0;
}

ul .date {
    font-weight:bold;
    border-bottom:1px solid #ccc;
    padding:.5em 0;
    font-size:16px;
    margin:.5em 0;
}

.description {
    width: 700px;
    margin: 20px;
}

.project-image {
    width: 300px;
    margin: 20px;
}
