ul.grid li 
{
    list-style: none;
    display: inline-block;
    vertical-align:text-top;
}

ul.grid li img
{
    display: block;
    height: 100px;
    margin: auto;


}

ul.grid li h3
{
    text-align: center;
}

ul.grid li a 
{
    width: 300px; 
    display: inline-block;
}

.hidden
{
    display: none;
    
}

.visible
{
    display: visible;  
    background-color: #f8f8f8;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 3px 3px 3px rgba(0,0,0,0.1);
    border: 1px solid #f1f1f1;
    position:absolute;
    width: 300px ;
    min-height: 100px;
}
