div.avatar-container {
    background: #888;
    float: left;
}

div.avatar-container-big {
    background: #888;
    position: absolute;
    visibility: hidden;
    width: 60px;
    height: 60px;
}
div.avatar-container-right {
    float: right;
}
img.avatar-min {
    max-width: 80px;
}
img.avatar-big {
    width: 180px;
}

div.person {
    display: block;
    float: left;
}
div.activity {
    width: 300px;
    float: left;
    margin: 10px;
}
h3.name {
    background: #eee;
}
div.right-sidebar ul li {
    margin: 4px;
}
div.right-sidebar ul li a {
    font-weight: normal;
}
