button, input[type="button"], a.btn {
    border: 1px solid #aaaaaa;
    padding: 4px;
    margin: 4px;
    cursor: pointer;
}

textarea {
    line-height: 14px;
    padding: 2px;
    margin: 4px;
}

input {
    height: 20px;
    margin: 2px;
}

a.add-link, a.add-role {
    cursor: pointer;
}

.person {
    display: block;
    float: left;
    width:80px;
    height:80px;
}

.person.blank {
	width:76px;
	height:76px;
	margin:2px;
}

.person-red {
	background-color: DarkSlateGray;
}

.person-green {
	background-color: FireBrick;
}

.person-blue {
	background-color: CadetBlue;
}

.avatar-container img {
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    width:-webkit-calc(100% - 4px);
    border:2px solid transparent;
    width:76px;
    heigth:78px;
}

.person:not(.search-hidden) img:hover {
    -webkit-transform:scale(1.5);
    -moz-transform:scale(1.5);
    -o-transform:scale(1.5);
    -ms-transform:scale(1.5);
    transform:scale(1.5);
    border:2px solid #fff;
    box-shadow:0 0 5px #888, 0 0 1px #888;
}

.person:not(.search-hidden):hover .name {
    -webkit-animation: showName .3s;
    -webkit-animation-fill-mode: forwards;
    -moz-animation: showName .3s;
    -moz-animation-fill-mode: forwards;
    -ms-animation: showName .3s;
    -ms-animation-fill-mode: forwards;
    animation: showName .3s;
    animation-fill-mode: forwards;
}

@-webkit-keyframes showName {
    50% {
        opacity:0;
    }
    75% {
        opacity:1;
    }
    100% {
        opacity:1;
    }
}

.avatar {
    padding: 8px;
    background-color: white;
    margin-right: 10px;
    margin-bottom: 20px;
}

.align-left {
    float: left;
    margin-right: 10px;
}

.description {
    font-style: italic;
    width: 200px;
    height: 70px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 250px;
}

.icon {
    display: inline-block;
    width: 30px;
    height: 30px;
}

.icon-facebook {
    background:url('/resources/images/button-facebook.png') top left no-repeat;
    background-size:30px 30px;
}

.icon-googleplus {
    background:url('/resources/images/button-gplus.png') top left no-repeat;
    background-size:30px 30px;
}

.icon-delete {
    position: absolute;
    margin: 1px;
    padding: 3px;
    width: 16px;
    font-weight: bold;
    cursor: pointer;
}
.clear {
    clear: both;
}

.activity-container {
    margin-bottom: 15px;
}

.activity_logo {
    float: left;
    margin: 4px 0px;
    padding: 0px 7px;
    text-align: center;
    background: #EEEEEE;
    border-radius: 5px 5px 5px 5px;
    width: 200px;
    height: 120px;
}

.activity_list {
    float: left;
    padding: 14px 0px 0px 0px;
    width: 500px;
}

.activity_list li {
    width: 250px;
    margin-bottom: 3px;
}

.activity_list ul {
    list-style-type: none;
    float: left;
    font-size: 12px;
}

@-moz-keyframes showName {
    50% {
        opacity:0;
    }
    75% {
        opacity:1;
    }
    100% {
        opacity:1;
    }
}

@-ms-keyframes showName {
    50% {
        opacity:0;
    }
    75% {
        opacity:1;
    }
    100% {
        opacity:1;
    }
}

@keyframes showName {
    50% {
        opacity:0;
    }
    75% {
        opacity:1;
    }
    100% {
        opacity:1;
    }
}

.name-container {
    position:relative;
}

.name {
    position:absolute;
    left:-20px;
    top:16px;
    opacity:0;
    background: #fff;
    width:120px;
    font-size:16px;
    text-align:center;
    border-radius:0 0 5px 5px;
    padding-bottom:3px;
}

    .name:hover {
        display:none;
    }

.people-search {
    margin:1em 0;
    width:100%;
    text-align:center;
}

.people-search li {
    list-style:none;
    display:inline-block;
    width:-webkit-calc(3.5% - 1em);
    padding:.5em;
    margin:.12em;
    background:rgba(255,255,255,.5);
    cursor: pointer;
    -webkit-user-select:none;
    -moz-user-select:none;
    -o-user-select:none;
    -ms-user-select:none;
    user-select:none;
    font-weight: bold;
    border:1px solid transparent;
    border-bottom:1px solid #bbb;
}

.people-search li.btn-active {
    background:#fff;
    font-weight: bold;
    border-bottom:0;
    box-shadow:inset 0 0 5px #aaa;
    border:1px solid #ccc;
}

.people-search li:hover {
    background:#fff;
}

div.right-sidebar ul li {
    margin: 4px;
}
div.right-sidebar ul li a {
    font-weight: normal;
}

.search-highlight img {
    border:2px solid #fff;
}

.search-hidden {
    position: relative;
    opacity:.4;
    z-index: -1;
}

ul.activity {
    padding:0;
    margin:0;
    list-style:none;
    border-bottom:1px solid #ccc;
}

ul.activity li {
    margin:1em 0;
}

ul .date {
    font-weight:bold;
    border-bottom:1px solid #ccc;
    padding:.5em 0;
    font-size:16px;
    margin:.5em 0;
}

.project-description {
    width: 500px;
    height: 150px;
    margin: 20px;
    display: table-cell;
    vertical-align: middle;
    font-size:14px;
}

.project-date {
    font-size: 14px;
    font-weight: normal;
}

.project-image {
    width: 300px;
    margin: 15px;
    background-size: 100%;
    background-color: #ccc;
    float: left;
}

.avatar-tiny {
    height: 35px;
    margin: 1px;
}

.edition {
    list-style: none;
    font-weight: bold;
    font-size: 18px;
    clear: both;
}

.edition-photo-container {
    width: 300px;
    float: left;
    margin: 15px;
}

.edition-photo {
    width: 100%;
}

.edition-people {
    max-width: 350px;
    float: left;
}

.role {
    font-weight: normal;
    font-size: 14px;
    margin-top: 7px;
}

.center {
  width: 300px;
  margin: auto;
}

.edit {
  font-size: 15px;
}

.spaced-heading {
  margin-top: 20px;
  margin-bottom: 10px;
}

.link-field input{
  min-width: 244px;
  background: #f8f8f8;
}

select {
  padding:3px;
  margin: 1px;
  width: 120px;
  background: #f8f8f8;
  border:none;
  outline:none;
  display: inline-block;
  -webkit-appearance:none;
  -moz-appearance:none;
  appearance:none;
  cursor:pointer;
}

.content {
  margin-top: 25px;
}
