{% extends 'base.html' %}
{% load people %}

{% block content %}
<div class="right-sidebar">
    {% if activity.editions %}
    <h3>Managers through time</h3>
        <ul>
        {% for m in activity.editions %}
            {% if m.managers.count %}
            <li>{{ m.date_start|date:"Y" }}
                <ul>
                {% for mm in m.managers.all %}
                    <li><a href="{% url profile mm.id %}">{{ mm }}</a></li>
                {% endfor %}
                </ul>
            </li>
            {% endif %}
        {% endfor %}
        </ul>
    {% endif %}
</div>

<h2>{{ activity }}</h2>

{% if activity.editions %}
<p>
<strong>Editions:</strong> {% for e in activity.editions %}<a href="{% url edition-detail e.id %}">{{ e.title }}</a>, {% endfor %}
</p>
{% endif %}

{% if activity.version_set.count %}
<p>
<strong>Versions:</strong> {% for e in activity.version_set.all %}<a href="{% url version-detail e.id %}">{{ e }}</a> {% endfor %}
</p>
{% endif %}

<p>
{{ activity.description }}
</p>
        
<a href="{% url activity-list %}">&laquo; back to activities</a>
{% endblock %}