{% extends 'base.html' %}

{% block content %}
<div class = "center">

<form method="post" action>
  {% csrf_token %}
  <table>
    <tr>
      <td>{{ form.username.label_tag }}</td>
      <td>{{ form.username }}</td>
    </tr>
    <tr>
      <td>{{ form.password.label_tag }}</td>
      <td>{{ form.password }}</td>
    </tr>
  </table>

  <div class="button">submit</button>
  <input type="hidden" name="next" value="{{ next }}" />
</form>
{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}
</div>
{% endblock %}
