{% extends 'base.html' %}
{% load people %}

{% block content %}
<h2>People</h2>
<ul class="people-search">
</ul>
<div class="container" >
    {% for p in persons %}
	{% if p %}
    <div class="person" data-name="{{p.name}}">
        <a href="{% url profile p.pk %}">
            <div class="avatar-container">
                <img src="{% gravatar p %}" />
            </div>
        </a>
        <div class="name-container">
            <h3 class="name">{{ p.name }}</h3>
        </div>
    </div>
	{% else %}
	<div class="person blank person-{% cycle "red" "green" "blue" %}">
		<div class="avatar-container"></div>
	</div>
	{% endif %}
    {% endfor %}
</div>

<div class="clear spacer">
    <!-- empty content -->
</div>

<h3>Recent Activity</h3>
<ul class='activity'>
{% for a in activities %}
	{% ifchanged a.timestamp.data.month  %}
	   <li class='date'>{{ a.timestamp|date:"F 'y" }}</li>
	{% endifchanged %}
    <li><a href="{% url profile a.person.pk %}">{{ a.person.name }}</a> {{ a.role }} at <a href="{% url project-detail a.edition.project.id %}">{{ a.edition.project }}</a> {{ a.edition }}</li>
{% endfor %}
</ul>

<a href="{% url project-list %}">Go to: Projects</a>
<script type="text/javascript" src="{{site.basepath}}resources/js/grid-search.js"></script>
{% endblock %}
