{% extends 'base.html' %}
{% load people %}

{% block content %}
<h2>People</h2>
{% for p in persons %}
<div class="person">
    <a href="{% url profile p.pk %}">
        <div class="avatar-container">
            <img class="avatar avatar-min" src="{% gravatar p %}" />
        </div>
    </a>

    <a href="{% url profile p.pk %}">
        <div class="avatar-container-big">
            <img class="avatar avatar-big" src="{% gravatar p %}" />
            <h3 class="name">{{ p.name }}</h3>
        </div>
    </a>
</div>
{% endfor %}
<script src='resources/js/people-grid.js'></script>

<div class="spacer clear">
    <!-- empty content -->
</div>
<a href="{% url activity-list %}">Go to: Activities</a>
{% endblock %}
