{% extends 'base.html' %}
{% load people %}

{% block content %}
<h2>People</h2>
        {% for p in persons %}
        <div class="person" person-name="{{ p.name }}">
            <a href="{% url profile p.pk %}">
                <div class="avatar-container">
                    <img class="avatar avatar-min" src="{% gravatar p %}" />
                </div>
            </a>
        </div>
        {% endfor %}

<div class="spacer clear">
    <!-- empty content -->
</div>
<a href="{% url activity-list %}">Go to: Activities</a>
{% endblock %}
