{% extends 'base.html' %}
{% load people %}

{% block content %}
    <script>
        {% autoescape off %}
        var roles = {{ roles }};
        var projectEditions = {{ project_editions }};
        var projectId = {{ project_id }}
        {% endautoescape %}
    </script>
    <h2><a href={% url profile person.pk %}>{{ person.name }}</a> - edit profile</h2>
    <form method="POST" action="" >
        <table>
        {{ user_data.as_table }}
        </table>
        <a href="/password_change">Change password</a>
        <h3> Links </h3>
        <a class="add-link">add new link</a>
        <div class="link-form">
        {% for field in links %}
        <div class="removable-field link-field">
            {{ field }}
        </div>
        {% endfor %}
        </div>
        <h3> Projects </h3>
        {% for p in project_forms %}
            <h4> {{ p.project }} </h4>
            <div>
                <a class="add-role" data-name="{{p.project}}"> Add new Role </a>
                {% for field in p %}
                <div class="removable-field">
                    {{ field }}
                </div>
            {% endfor %}
            </div>
        {% endfor %}
        {% csrf_token %}
        <div>
        <button class="btn" type="submit">Save</button>
        </div>
    </form>
    <script type="text/javascript" src="{{site.basepath}}resources/js/profile-set.js"></script>
{% endblock %}
