{% extends 'base.html' %}
{% load people %}

{% block content %}
    <h2>{{ person.name }} - edit profile</h2>
    <form method="POST" action="" >
        <table>
        {{ user_data.as_table }}
        </table>
        <h3> Links </h3>
        <a> Add new Link </a>
        {% for field in links %}
            <div>
            {{ field.errors }}
            {{ field }}
            <a>[x]</a>
            </div>
        {% endfor %}
        <h3> Projects </h3>
        {% for p in project_forms %}
            <h4> {{ p.project }} </h4>
            <a> Add new Role </a>
            {% for field in p %}
                <div>
                {{ field.errors }}
                {{ field }}
                <a>[x]</a>
                </div>
            {% endfor %}
        {% endfor %}
        {% csrf_token %}
        <div>
        <input type="submit" value="Save"/>
        </div>
    </form>
{% endblock %}
