{% extends 'base.html' %}
{% load people %}

{% block content %}
<div class="avatar-container avatar-container-right">
    <img class="avatar avatar-right" src="{% gravatar person %}" />
</div>

<h2>{{ person.name }}</h2>

<p>
<strong>Roles:</strong>
        {% for pr in person.person_roles.all %}
        <div>
            {{ pr.role }} at {{ pr.edition.project }} - {{ pr.edition }}
        </div>
        {% endfor %}
</p>

<p><strong>Contact:</strong>
{% if person.email %}<code>{{person.email}}</code>{% endif %}
</p>

<a href="{% url overview %}">&laquo; back to persons</a>
{% endblock %}
