{% extends 'base.html' %}

{% load people %}

{% block content %}

<div class="align-left">
    <a href={{ project.url }} >
        <img class="project-image" src="{{ project.logo_url }}"/>
    </a>
</div>

<a href={{ project.url }}><h1>{{ project }}</h1></a>
<div class="description">{{ project.description }}</div>

<div class="clear">
    {% if project.editions %}
    <h3>Roles through time</h3>
    <ul>
        {% for e in project.editions.all %}
        <li> {{ e }} </li>
        <ul>
            {% for pr in e.person_roles.all %}
            {% ifchanged pr.role %}
            <li> {{ pr.role }} - </li>
            {% endifchanged %}
            <li> <a href="{% url profile pr.person.id %}">
                {{ pr.person }}
                <img class="avatar-tiny" src="{% gravatar pr.person %}"/>
            </a> </li>
            {% endfor %}
        </ul>
        {% endfor %}
    </ul>
    {% endif %}
</div>


<a href="{% url project-list %}">&laquo; back to projects</a>
{% endblock %}
