{% extends 'base.html' %}

{% block content %}

<h2>{{ project }}</h2>

<p>
{{ project.description }}
</p>

<div>
    {% if project.editions %}
    <h3>Roles through time</h3>
    <ul>
        {% for e in project.editions.all %}
        <li> {{ e }} </li>
        <ul>
            {% for pr in e.person_roles.all %}
            <li> {{ pr.role }} - <a href="{% url profile pr.person.id %}">{{ pr.person }}</a> </li>
            {% endfor %}
        </ul>
        {% endfor %}
    </ul>
    {% endif %}
</div>


<a href="{% url project-list %}">&laquo; back to projects</a>
{% endblock %}
