{% extends 'base.html' %}
{% load people %}

{% block content %}
<h2>{{ version.version }}</h2>

{% if version.managers.count %}
<p>
    <strong>Managers:</strong> {% for m in version.managers.all %}<a href="{% url profile m.id %}">{{ m }}</a> {% endfor %}
</p>
{% endif %}
<p>
    <strong>Developers:</strong> {% for m in version.developers.all %}<a href="{% url profile m.id %}">{{ m }}</a> {% endfor %}
</p>

<p>
    <strong>Parent Project:</strong> {{ version.project }}
</p>

<p>
    {{ version.get_description }}
</p>

<a href="{% url activity-list %}">&laquo; back to activities</a>
{% endblock %}